@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*,
*::before,
*::after {
    font-family: inherit;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    background-color: #e4d3a0;
    background-image: url('../img/texture.png');
}

.playground {
    position: relative;
    height: 100%;
}

.playground__count {
    position: absolute;
    top: 50%;
    left: 50%;
    color: rgba(0 0 0 / 5%);
    font-size: 7.5rem;
    font-size: min(25vmin, 10rem);
    user-select: none;
    transform: translate(-50%, -50%);
}

.playground__paws {
    position: relative;
    min-height: 100vh;
}

.playground__panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.panel__icon {
    width: 50px;
    height: 50px;
    margin: 0 .25rem;
    padding: .5rem;
    color: #666;
    cursor: pointer;
}

.panel__radio {
    display: none;
}

.panel__radio + label {
    cursor: pointer;
}

.panel__radio:checked + label > svg {
    color: #333;
}

.svg-icons {
    display: none;
    width: 0;
    height: 0;
}
